{% extends 'home.html' %}
{% block title %} Quiz View | Zeon Skills{% endblock %}
{% block css %}
    <link rel="stylesheet" href="assets/css/responsive.css" />
{% endblock %}

{% block id %}
<header id="header2" class="position-fixed z-3 w-100 pt-3">
{% endblock %}

{% block content %}
<section class="py-5 position-relative" style="padding-top: 100px !important;">

        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  flex-column justify-content-center">
                    <h2>Python with SQL Quiz</h2>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Select Level
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('popularquiz') }}">Intermediate</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('popularquiz') }}">Mid Level</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('popularquiz') }}">Developer Mode</a></li>
                    </ul>
                </div>

            </div>
            <div class="row  bg-body-tertiary mt-3 pb-3 rounded-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  flex-column justify-content-center">
                    <h4 class="mt-3">The Test</h4>
                    <p class="mt-2">The test contains 40 questions and there is no time limit</p>

                </div>

            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  flex-column justify-content-center">
                    <h4>Questions cover topics like:</h4>
                    <p>This test is not official it's a great way to see how well you understand Python-SQL integration.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  flex-column justify-content-center">
                    <ul>
                        <li> Python database connections</li>
                        <li>SQL syntax and queries</li>
                        <li>Cursor operations</li>
                        <li>CRUD operations with Python</li>
                        <li>Common libraries (sqlite3, mysql.connector)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex  flex-column justify-content-center">
                    <h4>Count Your Score</h4>
                    <p>You'll get 1 point for each correct answer At the end of the quiz, your total score will be
                        displayed Maximum Score: 40 points</p>
                </div>
            </div>
            <div class="row bg-secondary-subtle mt-3 pb-3 rounded-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex  flex-column justify-content-center">
                    <h4 class="mt-3">Start the Quiz</h4>
                    <p>Good luck!</p>


                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('popularquiz') }}" class="btn btn-primary text-white px-4 py-2 rounded-pill">
                            Explore Quizzes Now &rarr;
                        </a>
                    </div>
                </div>


            </div>

        </div>





    </section>
{% endblock %}